body{
    font-family:Helvetica Neue;
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    zoom:130%;
}

h1 {
    background-color: rgba(253, 250, 33, 0.404);
    margin:0;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 32px;
}
/* 251, 255, 0, 0.397 */

.fa-plus{
    float: right;
}
ul{
    list-style: none;
    margin:0;
    padding: 0;

}
li {
    background-color: rgba(255, 255, 255, 0.699);
    height: 40px;
    line-height: 40px;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
}

input{
    font-size: 18px;
    background-color: #ebebeb8c;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
    color: rgb(16, 125, 250)

}

input:focus{
    background:white;
    border: 3px solid rgba(251, 255, 0, 0.397);

}
li:nth-child(2n){
    background-color: #ebebeb8c;
}

#container{
    background:white;
    width:360px;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    background: #ebebeb8c;

}
#hello {
      display:none;
}
.completed{
    color:gray;
    text-decoration: line-through;
}

li span{
    background-color: #e74c3c;
    margin-right: 20px;
    height: 40px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    transition: 0.3s linear;
    opacity: 0;

}
li:hover span{
    width: 40px;
    opacity: 1.0;
}
